

<center style="position: absolute;top: 30%; left: 34%">

  <img src="https://carlrobers.files.wordpress.com/2009/10/lastfm_logo-svg-618.png" width="70%" height="70%">
  <h1>User not found</h1>

</center>
